/* 폰트 : 망고 별빛체 */
@font-face {
    font-family: 'MangoBoardByeolbyeol';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoByeolbyeol.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MangoBoardByeolbyeol", sans-serif ;
  -webkit-font-family: "MangoBoardByeolbyeol";
  -moz-font-family: "MangoBoardByeolbyeol";
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

span {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p {
  font-size: 18px;
}

/* 첫번째 페이지 */
.townLanding{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("/images/landing.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}