/* 폰트 : 밋미 */
@font-face {
    font-family: 'MitmiFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MitmiFont", sans-serif ;
  -webkit-font-family: "MitmiFont";
  -moz-font-family: "MitmiFont";
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

span {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p {
  font-size: 18px;
}
button{
    font-size: 40px;
    color: #fff;
}

/* 첫번째 페이지 */
.townLanding{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("/images/landing.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.prjTitle{
    font-size: 100px;
}
.fontRed{
    color: #E23623;
    letter-spacing: 8px;
}

.prjMenuGroup{
    display: flex;
    align-items: flex-end;
    gap: 120px;
}
.prjMenuItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.prjMenuItem:hover{
  animation: floatUpDown 1.2s ease-in-out infinite;
  filter:saturate(1.5);
}
.prjMenuBtn{
    width: 235px;
    text-align: center;
    padding: 5px 35px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
}
.blueBtn{
    background-color: #41BCFA;
}
.purpleBtn{
    background-color: #837EF2;
}
.redBtn{
    background-color: #FA880C;
}

/* 둥둥 떠오르는 애니메이션 */
@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}
