/* 폰트 : 밋미 */
@font-face {
    font-family: 'MitmiFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MitmiFont", sans-serif ;
  -webkit-font-family: "MitmiFont";
  -moz-font-family: "MitmiFont";
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

span {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

h4{
 font-size: 44px;
}
h3{
    font-size: 33px;
}
p {
  font-size: 28px;
  line-height: 1.5;
}
button{
    font-size: 40px;
    color: #fff;
}

/* -------------첫번째 페이지------------- */
.townLanding{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("./images/landing.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.prjTitle{
    font-size: 100px;
}
.fontRed{
    color: #E23623;
    letter-spacing: 8px;
}

.prjMenuGroup{
    display: flex;
    align-items: flex-end;
    gap: 120px;
}
.prjMenuItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.prjMenuItem:hover{
  animation: floatUpDown 1.2s ease-in-out infinite;
  filter:saturate(1.5);
}
.prjMenuBtn{
    width: 235px;
    text-align: center;
    padding: 5px 35px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
}
.blueBtn{
    background-color: #41BCFA;
}
.purpleBtn{
    background-color: #837EF2;
}
.redBtn{
    background-color: #FA880C;
}

/* 둥둥 떠오르는 애니메이션 */
@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}


/* -------------회사 분석 페이지------------- */
.aboutPage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 120px;
}
.pageTitleGroup{
    position: relative;
}
.pageTitle{
    font-size: 80px;
}
.beeker{
    position: absolute;
    top: -30px;
    left: -130px;
}
.chemical{
    position: absolute;
    right: -200px;
    top: -45px;
}
.fontOrange{
    color: #EA645E;
}
.showResult{
    max-width: 1100px;
    background-color: #EBEBEB;
    padding: 45px 48px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 55px;
}
.showCharac{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background-color: #fff;
}
.characLarge{
    width: 110px;
    height: auto;
    animation: floatUpDown 1.2s ease-in-out infinite;
}
.aboutCharac{
    width: 700px;
}

/* 디테일 분석 결과 */
.resultDetail{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
.mbtiChart{
    width: 900px;
    height: 50px;
    display: flex;
}
.barChart{
    display: flex;
    align-items: center;
    gap: 30px;
}
.label{
    font-size: 45px;
    width: 30px;
}
.bar{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.org{
    background-color: #FF7D72;
}
.gre{
    background-color: #98D363;
}
.blu{
    background-color: #9CC5F9;
}
.yel{
    background-color: #FDD252;
}
.pur{
    background-color: #E1B9EE;
}
.per{
    font-size: 30px;
    color: #fff;
}